<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".EmployerView.JobDetailsActivityPreview"
            android:exported="true" >
        </activity>
        <activity
            android:name=".EmployerView.JobDetailsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".EmployerView.Employer_View_Home_Page"
            android:exported="true"></activity>
        <activity
            android:name=".EmployerView.EmployerAccountSetupRecruiterDetails"
            android:exported="true" />
        <activity
            android:name=".EmployerView.Employer_Account_Setup_Company_details"
            android:exported="true" />
        <activity
            android:name=".Profile.ProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.EducationActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.WorkExperienceActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.Profile_Details_Activity"
            android:exported="false" />
        <activity
            android:name=".Profile.SkillActivity"
            android:exported="false" />
        <activity
            android:name=".Apply_Job"
            android:exported="false" />
        <activity
            android:name=".Filter"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ContactInformationActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SavedJobsActivity"
            android:exported="false" />
        <activity
            android:name=".JobListingActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ApplicationStagesActivity"
            android:exported="true" />
        <activity
            android:name=".ApplicantViewJobDescription"
            android:exported="true" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".passwordReset_Mode_Selection" />

        <activity
            android:name=".Sign_up_screen"
            android:exported="false" />
        <activity
            android:name=".account_setup_user_info"
            android:exported="false" />
        <activity
            android:name=".expertise_activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AccountSetupHome"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".onboarding_info_3"
            android:exported="false" />
        <activity
            android:name=".onboarding_info_2"
            android:exported="true" />
        <activity
            android:name=".onboarding_info_1"
            android:exported="true" />
        <activity
            android:name=".onboarding"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".create_New_Password"
            android:exported="false"
            android:parentActivityName=".passwordReset_Mode_Selection" />
        <activity
            android:name=".passwordReset_OTP_Validation"
            android:exported="false"
            android:parentActivityName=".passwordReset_Mode_Selection" />
        <activity
            android:name=".passwordReset_Mode_Selection"
            android:exported="true" />
    </application>

</manifest>